@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Khula);


* {
	margin: 0; 
	padding: 0;
}
body{
    background: #727272;
}
header{
    z-index: 1;
    padding-left: 9%;
    background: #535353;
    height: 60px;
    box-shadow: 0px 3px 2px #3B3B3B;
}
nav {  
    position: absolute;
    padding: 10px;
	background: #535353;
	height: 40px;
	display: inline-block;
}

nav li {
	float: left;
	list-style-type: none;
	position: relative;
}
nav li a {
	font-size: 15px;
	color: white;
	display: block;
	line-height: 40px;
	padding: 0 26px;
	text-decoration: none;
	border-left: 2px solid #727272;
	font-family: 'Khula', sans-serif;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
nav li a:hover {
	background-color: #313131;
}

#settings a {
	height: 24px;
	line-height: 40px;
    border-left: 0px;
}
#settings a:hover {
    background-color: #535353;
}
#settings a img{
    height: 40px;
}

#search {
	width: 337px;
}
#search_text{
	width: 297px;
	padding: 15px 0 15px 20px;
	font-size: 14px;
	font-family: 'Khula', sans-serif;
	border: 0 none;
	height: 40px;
	margin-right: 0;
	color: white;
	background: #727272;
	float: left;
	box-sizing: border-box;
	transition: all 0.25s;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}
#search_text:focus {
    border-radius: 15px 0px 0px 15px;
    background: #313131;
    color: #fff;
    outline: 0px;
}
#search_button {
    border-radius: 0px 15px 15px 0px;
	border: 0 none;
	background: #727272 url(../../images/search.png) center no-repeat;
	width: 40px; 
	float: left;
	padding: 0;
	text-align: center;
	height: 40px;
	cursor: pointer;
}
#search_button:hover {
    border-radius: 0px 15px 15px 0px;
	border: 0 none;
	background: #727272 url(../../images/search.png) center no-repeat;
	width: 40px; 
	float: left;
	padding: 0;
	text-align: center;
	height: 40px;
	cursor: pointer;
}

#options a{
	border-left: 2px solid #727272;
}
#options>a {
	background-image: url(../../images/triangle.png);
	background-position: 85% center;
	background-repeat: no-repeat;
	padding-right: 42px;
}
.subnav {
    z-index:1;
	visibility: hidden;
	position: absolute;
	margin: 10px;
	top: 110%;
	right: 0;
	width: 200px;
	height: auto;
	opacity: 0;
	transition: all 0.1s;
	background: #535353;
}
.subnav li {
	float: none;
}
.subnav li a {
	border-bottom: 1px solid #727272;
}
#options:hover .subnav {
	visibility: visible;
	top: 100%;
	opacity: 1;
}

.contenedor{
    position: fixed;
    left: 10%;
    margin: 0 auto;
    margin-top: 10px; 
    width: 80%;
    height: 92%;
}
article{
    position: absolute;
    float: left;
    margin: 10px;
    padding-top: 5px;
    background: blue;
    width: 48%;
    height: 97%;
    background: #F5F5F5;
    border: 1px solid #727272;
    border-radius: 10px 3px 3px 10px;
    box-shadow: 2px 2px 2px #3B3B3B;
}
aside{
    float: right;
    margin: 20px;
    margin-top: 40px;
    width: 48%;
    height: 90%;
    background: #F5F5F5;
    border: 1px solid #727272;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px #3B3B3B;
}
section{
    float: left;
    margin-left: 30px;
    margin-top: 1px;
    width: 90%;
    height: 40px;
    border-bottom: 1px solid #C4C4C4;
}

.scroll{
	float: left;
    overflow-y: auto;
    overflow-x: hidden;
	margin-bottom: 25px;
}
#scroll-style::-webkit-scrollbar-track{
    background: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#scroll-style::-webkit-scrollbar{
	width: 15px;
}

#scroll-style::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}